.Welcome-banner {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 5px 10px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.Concert-collection-banner {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 10px 10px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.Concert-collection ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Add-new-concert-button-container {
    height: 60px;
    position: relative;
}

.Add-new-concert-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Groups & Items (Mobile first) */

.group {
    display: flex;
    flex-direction: column;
}

.item-double {
    flex: 1;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }
}