.Landing-page-p {
    margin: 15px 10px
}

/* Groups & Items (Mobile first) */

.group {
    display: flex;
    flex-direction: column;
}

.item-double {
    flex: 1;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }
}