.Landing-page h3 {
    background-color: #380a3b;
    color: #fd604e;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.Landing-page-p {
    margin: 15px;
}

/* Groups & Items (Mobile first) */

.group {
    display: flex;
    flex-direction: column;
}

.item-double {
    flex: 1;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }
}