.Concert li {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #a4f1e5;
    margin: 0px 10px 10px 10px;
}

.Concert p {
    margin: 5px;
}

.Concert button {
    margin: 5px;
}

/* Groups & Items (Mobile first) */

.group {
    display: flex;
    flex-direction: column;
}

.item-double {
    flex: 1;
}

/* Groups & Items (Desktop) */

@media all and (min-width: 800px) {
    .group {
        flex-direction: row;
    }
}